<div ng-controller="ChatController">
    <button ng-click="GoBack()" class="btn btn-primary">Go back</button>
    <button ng-click="FindSomeoneElse()" class="btn btn-success">Find New Partner</button>
    <div class="text-center center-block" ng-show="CurrentState == States.LOADING">
        <h3>Registering your username...</h3>
        <img class="loadingImage" src="../Images/loading.gif" />
    </div>
    <div class="text-center center-block" ng-show="CurrentState == States.LOADING_POST_REGISTER">
        <h3>{{LoadingMessage}}</h3>
        <img class="loadingImage" src="../Images/loading.gif" />
    </div>
    <div class="text-center center-block" ng-show="CurrentState == States.CHATTING">
        <h3>You are chatting with SOMEONE</h3>
        <div class="chat">
            <div class="chat-title">
                <h1>{{ChatPartnerName}}</h1>
            </div>
            <div class="messages">
                <div class="messages-content">
                    <div ng-repeat="message in MessageList | orderBy: 'message.TimeSent'">
                        <div ng-show="message.IsRequestingUser" class="message message-personal">
                            {{message.Content}}
                        </div>
                        <div ng-show="!message.IsRequestingUser" class="message new">
                            {{message.Content}}
                        </div>
                    </div>


                </div>
            </div>
            <div class="message-box">
                <textarea type="text" ng-model="CurrentMessage" class="message-input" placeholder="Type message..."></textarea>
                <button type="submit" ng-click="sendMessage()" class="message-submit">Send</button>
            </div>
        </div>
    </div>
</div>

