<div ng-controller="HomeController">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Welcome
                </div>
                <div class="panel-body">
                    <p>Welcome to Undesirable Communication! The one place on the web where you can connect with people from all walks of life.
                    Looking for a new friend from Norway? We got it! Looking for a creepy old man beating his meat? We got it! </p>
                    <p>Taking inspiration from ChatRoullete, we created Undesirable Communication to foster new relationships across the globe.</p>
                    <p>So what are you waiting for? Get chatting!</p>
                    <button class="btn btn-success" ng-click="GoToSignup()">Start Chatting!</button>
                </div>
            </div>
        </div>
    </div>
</div>
